*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "McLaren", cursive;
}

body{
  position: relative;
  min-height: 100vh;
  background-color:#7752FE;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}